@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  display: inline-block;
  overflow: hidden; /* Ensures that text does not overflow */
  border-right: 0.15em solid black; /* Creates the cursor effect */
  white-space: nowrap; /* Keeps the text in one line */
  animation: typewriter 4s steps(40, end), blink 500ms steps(40, end) infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Optional: Matches the typewriter style */
  max-width: 100%; /* Ensures text does not extend beyond container */
}

.typewriter::after {
  content: '...';
  animation: blink 500ms step-end infinite;
}


html {
  scroll-behavior: smooth;
}




